@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #223e7c;
}

.mobile__layout {
  width: 428px;
  background-color: #f2f2f2;
  padding: 20px 0px;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .mobile__layout {
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px 20px;
  }
}
